.action {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  margin-left: 10px;

  &::ng-deep .material-icons {
    font-size: 20px;
  }

  &::ng-deep .mat-button-wrapper {
    line-height: 20px;
    padding: 0;
  }
}
