<form [formGroup]="form" autocomplete="off" class="store-form">

  <h1>{{ 'store.form.details' | translate }}</h1>
  <nc-details-form [group]="detailsForm"></nc-details-form>
  <br />

  <h1>{{ 'store.form.location' | translate }}</h1>
  <nc-location-form [group]="locationForm"></nc-location-form>

  <div>
    <button class="mt-10" mat-raised-button color="accent" (click)="reset()">
      {{ 'store.form.reset' | translate }}
    </button> &nbsp;
    <button class="mt-10" mat-raised-button color="primary" type="submit"
            [disabled]="form.invalid" (click)="submit()">
      {{ 'store.form.create' | translate }}
    </button>
  </div>
</form>
