.store-inline-item {
  margin: 0 15px;
  display: inline-block;
}

.store-checkbox {
  @extend .store-inline-item;
  width: 100px;
}

.store-radio {
  @extend .store-inline-item;
}

.store-title {
  margin-top: 25px;
}
